@import "../../../../../../../External/commonStyles.module.scss";

.existingEmailSection {
  display: flex;
  width: 100%;
  gap: 2%;
  margin-top: 30px;
  .existingEmailContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 38%;
    .emailRow {
      display: flex;
      align-items: center;
      gap: 20px;

      .label {
        font-size: 14px;
        color: black;
        font-weight: 400;
        letter-spacing: 0.5px;
        width: 70px;
      }

      .dropDownContainer {
        flex: 1;
        width: 100%;
        .dropDown {
          width: 100%;
        }
      }
    }
  }
  .emailBodyPreview {
    border: 1px solid var(--borderColor);
    padding: 10px;
    border-radius: 6px;
    width: 60%;
    height: 300px;
    overflow: auto;
    .bodyLabel {
      font-size: 14px;
      color: black;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
  }
}
