@import "../../../../../../../External/commonStyles.module.scss";

.existingEmailSection {
  display: flex;
  width: 100%;
  gap: 2%;
  .existingEmailContainer {
    display: flex;
    width: 100%;
    gap: 30px;
    .emailRow {
      width: 100%;
      .LabelContainer {
        display: flex;
        align-items: center;
        gap: 10px;
        .image {
          cursor: pointer;
        }
      }
      .label {
        font-size: 12px;
        color: var(--color-dark);
        font-weight: 500;
        font-family: "interMedium", sans-serif;
        padding-bottom: 10px;
      }

      .dropDownContainer {
        display: flex;
        gap: 6px;
        align-items: center;
        width: 100%;
        .dropDown {
          width: 100%;
        }
      }
    }
  }
}
.emailBodyPreview {
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  height: 362px;
  overflow: auto;
  margin-top: 6px;
  font-size: 13px;
  border: 1px solid var(--color-light);
  .bodyLabel {
    font-size: 14px;
    font-weight: 400;
    color: #adadad;
    letter-spacing: 0.5px;
    font-family: "interMedium";
  }
}
