/* Stage data table design........................ */
.requestCardStage {
  background-color: #fff;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid var(--borderColor);
  display: flex;
  width: 100%;
}
.categoryName {
  padding-top: 8px;
}
.requestCardBody {
  padding-right: 8px;
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
  background-color: transparent !important;
  color: black !important;
}
.p-datatable .p-datatable-tbody > tr:hover {
  background-color: transparent !important;
}
/* Notes Container................................. */
.notesContainer {
  margin-top: 0px;
  margin-bottom: 10px;
}
/* Stage button style.................. */
.customAddStageButton {
  background-color: transparent;
  color: var(--green);
  padding: 6px 12px 6px 12px;
  border: 1px solid var(--InputBoxLiteGreen);
  font-size: 14px;
}
.customAddStageButton:hover {
  background-color: var(--green);
  color: var(--liteGreen);
}
/* Button style.............. */
.modernButton {
  gap: 0px;
}
.modernButton:hover {
  background-color: var(--liteGreen);
}
.pi {
  font-size: 12px;
}
.p-dropdown {
  height: 34px;
}
