/* Stage data table design........................ */
.requestCardStage {
  background-color: #fff;
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #007bff2e !important;
  display: flex;
  width: 100%;
  margin-top: 14px;
}
.requestCardBody {
  padding-right: 0px;
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
  background-color: transparent !important;
  color: black !important;
}
.p-datatable .p-datatable-tbody > tr:hover {
  background-color: transparent !important;
}
/* Notes Container................................. */
.notesContainer {
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #dbeafeb3;
}
/* Stage button style.................. */
.customAddStageButton {
  background-color: transparent;
  color: var(--color-primary);
  padding: 6px 12px 6px 12px;
  border: 1px solid var(--InputBoxLiteGreen);
  font-size: 14px;
}
.customAddStageButton:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
/* Button style.............. */
/* .modernButton {
  gap: 0px;
} */
/* .modernButton:hover {
  background-color: var(--color-secondary);
  color: var(--white);
} */
.pi {
  font-size: 12px;
}
.p-dropdown {
  height: 34px;
}
