//CommomStyleSheet Import:
@import "../../../External/commonStyles.module.scss";

.page {
  background-color: $white;
  height: 92vh;

  .container {
    display: flex;
    width: 100%;
    .container_sidebar {
      width: 0%;
      height: 92vh;
      background-color: $color-primary;
      padding: 30px 14px 14px 14px;
    }
    .container_content {
      width: 100%;
      padding: 14px;
    }
  }
}
