@import "../../../../../../External/commonStyles.module.scss";
.heading {
  @include heading;
}
.FlowButtonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .FlowPreviousButton {
    width: 26%;
  }
  .FlowSideBarButtons {
    display: flex;
    gap: 4%;
    width: 70%;
    justify-content: flex-end;
  }
}

.sectionWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2%;
  .sectionContainer {
    display: flex;
    width: 48%;
    flex-direction: column;
    padding-bottom: 20px;
    .sectionlabelHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .deleteIcon {
        font-size: 16px;
        cursor: pointer;
        color: #0a0a0abf;
      }
    }
  }
}

.columnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: transparent;
  border-radius: 8px;
}

.container {
  margin-bottom: 14px;
  height: 344px;
  overflow: auto;
  .sectionHeader {
    display: flex;
    align-items: center;
    .FormHeading {
      font-weight: 500;
      font-size: 14px;
      width: 24%;
    }
  }
}

.addSectionBtnIcon {
  font-size: 16px;
}

.addButton {
  background-color: white;
  display: flex;
  gap: 6px;
  color: #000000c2;
  font-weight: 500;
  padding: 6px 15px 6px 15px;
  font-size: 13px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  margin-left: 30px;
}

.sectionInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.addFieldButton {
  background-color: transparent;
  color: var(--green);
  border: none;
  font-size: 14px;
  font-weight: 600;
  width: 15%;
  padding: 0px !important;
  cursor: pointer;
}

.dialog {
  width: 40%;
  .p-dialog-header {
    background-color: #007ad9;
    color: white;
    font-weight: bold;
  }

  .p-dialog-content {
    padding: 15px;
  }
}

.previewDailog {
  width: 60%;
}

.dialogButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  gap: 12px;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #b02a37;
  }
}

.saveButton {
  background-color: #007ad9;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #005fa3;
  }
}

.choiceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  .choiceInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .addChoiceButton {
    background-color: #007ad9;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #005fa3;
    }
  }
}
.columnNameContainer {
  width: 100%;
  padding-top: 10px;
  .columnNameInput {
    width: 100%;
  }
}
.label {
  @include label;
}

.stageContainer {
  padding-bottom: 10px;
  font-size: 13px;
  display: flex;
  gap: 10px;
}
.ActionIconsContainer {
  display: flex;
  gap: 10px;
  font-size: 16px;
  .actionIconLayer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 4px 5px;
    border-radius: 6px;
    box-shadow: -1px 2px 13px -8px black;
    cursor: pointer;
    color: black;
  }
}

.previewFieldSectionName {
  color: #16a34a;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 12px;
}

.previewFieldContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 4%;
  .previewField {
    margin-bottom: 1rem;
    width: 30%;

    .previewInput,
    .previewTextArea,
    .previewDropdown {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f5f5f5;
      cursor: pointer;
    }

    .previewTextArea {
      resize: none;
      height: 80px;
    }
  }
}
//Choice List styles :
.choiceListContainer {
  margin-top: 10px;
  display: flex;
  gap: 6px;
  width: 100%;
  flex-wrap: wrap;
}

.choiceItem {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  background-color: #000000ba;
  color: white;
  padding: 4px;
  border-radius: 2px;
  font-size: 13px;
}

.deleteChoiceBtn {
  color: white;
  font-size: 18px;
  cursor: pointer;
}
