@import "../../../../../../External/commonStyles.module.scss";
.heading {
  @include heading;
}
.FlowButtonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .FlowPreviousButton {
    width: 26%;
  }
  .FlowSideBarButtons {
    display: flex;
    gap: 4%;
    width: 70%;
    justify-content: flex-end;
  }
}
.radioContainer {
  display: flex;
  margin-left: 40px;
  .radioDiv {
    display: flex;
    .radioDivLabel {
      padding: 0 50px 0 10px;
      color: #353862;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
.EmailContainer {
  height: 466px;
  overflow: auto;
  margin-bottom: 20px;
}
.tabViewContainer {
  height: 40px;
  margin-bottom: 20px;
  width: 100%;
}
.modalHeader {
  position: absolute;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 21%;
}
