@import "../../../../External/commonStyles.module.scss";

.filNameTag {
  margin-right: 10px;
  background-color: var(--liteGreen);
  color: var(--green);
  font-weight: 500;
}
.fileList {
  display: flex;
  align-items: center;
  margin: 0px 10px 10px 0px;
}
.fileListContainer {
  height: 190px;
  overflow: auto;
  width: 410px;
}
