@import "../../../../External/commonStyles.module.scss";

.formContainer {
  display: flex;
  flex-direction: column;
  // gap: 1rem;

  .formsCotainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .singlelineFields,
  .multilineFields {
    display: grid;
    gap: 1rem;
  }

  .singlelineFields {
    grid-template-columns: repeat(5, 1fr);
    // margin-bottom: 20px;
  }

  .multilineFields {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 14px;
  }

  .inputField {
    display: flex;
    flex-direction: column;
    // gap: 0.5rem;

    .inputText,
    .inputTextArea {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      font-size: 1rem;
    }

    .invalid {
      border-color: #e74c3c;
    }

    .errorMsg {
      color: #ef250f;
      font-size: 12px;
      font-weight: 600;
    }
  }
  .approverSection {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  .labelHeader {
    width: max-content;
    font-weight: bold;
    font-size: 13px;
    color: var(--green);
    border-bottom: 2px solid var(--green);
  }
}

.HistoryContainer {
  display: flex;
  width: 100%;
  gap: 2%;
  .history {
    width: 60%;
  }
  .attachment {
    margin-top: 40px;
    width: 38%;
  }
}

.fileUploadContainer {
  display: flex;
  gap: 10px;
  ul {
    margin: 0;
  }
}

.formFieldContainer {
  height: 420px;
  margin-bottom: 20px;
  overflow: auto;
}

.RequestFormContainer {
  height: 294px;
  overflow: auto;
  margin-bottom: 20px;
  padding: 0px 70px 0px 70px;
}

.attachmentContainer {
  display: flex;
  justify-content: end;
}
.label {
  font-size: 12px;
  color: black;
  font-weight: 500;
  letter-spacing: 0.5px;
  h3 {
    margin: 0;
  }
}
.icon {
  font-size: 38px;
  color: #82828f;
  padding-bottom: 10px;
}
.sideBarButtonContainer {
  display: flex;
  justify-content: space-between;
  gap: 3%;
  width: 100%;
}

//Add request Filder dropdown
.approverSectionContainer {
  display: flex;
  width: 100%;
  gap: 2%;
  margin-bottom: 10px;
}

.filterHeader {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  .filterHeaderContainer {
    padding: 6px;
    width: 60%;
    border-radius: 6px;
    text-align: center;
  }
  .filterdropdown {
    width: 50%;
  }
}

.signatureSection {
  display: flex;
  align-items: center;
  gap: 12px;
}

.signatureUploadButton {
  display: inline-block;
  background-color: var(--green);
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
}
.signatureUploadButton:hover {
  background-color: var(--liteGreen);
  color: var(--green);
  transition: ease-in-out;
  transition-timing-function: linear;
  transition-duration: 0.5s;
}
