@import "../../../../External/commonStyles.module.scss";

.formContainer {
  display: flex;
  flex-direction: column;
  // gap: 1rem;

  .formsCotainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .singlelineFields,
  .multilineFields {
    display: grid;
    gap: 1rem;
  }

  .singlelineFields {
    grid-template-columns: repeat(5, 1fr);
    // margin-bottom: 20px;
  }

  .multilineFields {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 14px;
  }

  .inputField {
    display: flex;
    flex-direction: column;
    // gap: 0.5rem;

    .inputText,
    .inputTextArea {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      font-size: 1rem;
    }

    .invalid {
      border-color: #e74c3c;
    }

    .errorMsg {
      color: red;
      font-size: 12px;
      // font-weight: 600;
    }
  }
  .approverSection {
    display: block;
    width: 50%;
    margin-top: 10px;
  }
  .labelHeader {
    width: max-content;
    font-weight: bold;
    font-size: 13px;
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
  }
}

.HistoryContainer {
  display: flex;
  width: 100%;
  gap: 2%;
  .history {
    width: 60%;
  }
  .attachment {
    margin-top: 40px;
    width: 38%;
  }
}

.fileUploadContainer {
  display: flex;
  gap: 10px;
  ul {
    margin: 0;
  }
}

.formFieldContainer {
  height: 510px;
  overflow: auto;
  padding-right: 4px;
}

.RequestFormContainer {
  height: 508px;
  overflow: auto;
  margin-bottom: 12px;
  padding: 0px 30px 0px 30px;
}

.attachmentContainer {
  display: flex;
  justify-content: end;
}
.label {
  font-size: 12px;
  color: var(--color-dark);
  font-weight: 500;
  font-family: "interMedium", sans-serif;
  h3 {
    margin: 0;
  }
}
.icon {
  font-size: 38px;
  color: var(--color-primary);
  padding-bottom: 10px;
}
.sideBarButtonContainer {
  display: flex;
  justify-content: space-between;
  gap: 3%;
  margin-top: 10px;
  width: 100%;
}

//Add request Filder dropdown
.approverSectionContainer {
  display: flex;
  width: 100%;
  gap: 2%;
  margin-bottom: 10px;
}

.filterHeader {
  width: 100%;
  display: flex;
  margin-top: 80px;
  justify-content: center;
  .filterHeaderContainer {
    width: 64%;
    border-radius: 6px;
    text-align: center;
    label {
      padding: 0px !important;
    }
  }
  .filterdropdown {
    width: 50%;
  }
}

.signatureSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signatureUploadButton {
  display: inline-block;
  background-color: var(--white);
  color: var(--color-dark);
  border: 1px solid #dee2e6;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  font-family: "interMedium";
}
// .signatureUploadButton:hover {
//   background-color: var(--color-primary);
//   color: var(--color-white);
//   transition: ease-in-out;
//   transition-timing-function: linear;
//   transition-duration: 0.5s;
// }
.dropDownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
