@import "../../../../External/commonStyles.module.scss";

.filter_header_container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  // gap: 10px;
  height: 60px;
  background-color: transparent;
  padding: 10px 0px 10px 0px;
  label {
    color: $black;
    font-size: var(--fontSizebig);
    font-weight: var(--dataTableHeaderFontWeight);
    width: 75%;
  }
  .filter_header_pageName {
    width: 100%;
  }
  .searchFilter {
    width: 46%;
    display: flex;
    align-items: center;
    // justify-content: end;
  }
}
.profile_header_container {
  @extend .filter_header_container;
  justify-content: space-between;
  height: 70px;
  padding: 0px;
  background-color: $white;
  width: 100%;
  .profile_header_content {
    padding: 0px;
    height: 100%;
    width: 60%;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  p {
    padding: 6px 0 10px 0px;
    margin: 0;
    color: var(--dataTableBodyTextColor);
    font-size: 15px;
    font-weight: 400;
  }
  label {
    font-size: calc(var(--fontSizebig) +2);
    font-weight: var(--dataTableHeaderFontWeight);
    color: $green;
    padding-top: 10px;
  }
  .profile_header_Icons {
    padding: 0px;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: end;
    width: 40%;
  }
  .notifyBell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: $liteGreen;
    width: 35px;
    height: 35px;

    svg {
      width: 20px;
      height: 20px;
      color: $green;
    }
    .personaImage {
      border-radius: 10px;
      width: 35px;
      height: 35px;
    }
  }
}
//Card styles
.cardDetails_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  margin: 10px 0px 10px 0px;
}
