//Common Style Imports;
@import "../../../../../External/commonStyles.module.scss";
.EmailWorkFlowSideBarHeading {
  @include sideBarHeader;
}
.label {
  @include label;
}
.EditorSection {
  padding: 30px 0px 30px 0px;
  height: 350px;
}
.EmailWorkFlowSideBarButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.emailMainContainer {
  box-sizing: border-box;
  padding: 10px 20px;
  height: 510px;
  overflow: auto;
}
.categoryLabel {
  font-size: 12px;
  color: #717171;
  font-weight: 400;
  padding: 7px 0 6px 0;
  font-family: "interRegular";
}
