//Common Style Imports:
@import "../../../../../External/commonStyles.module.scss";

.categorySideBarHeading {
  @include sideBarHeader;
}

.label {
  @include label;
  padding-bottom: 8px;
}
.approverSignatureDetailContainer {
  width: 100%;
  display: flex;
}
.inputContainer {
  width: 100%;
  .input {
    width: 46%;
    padding: 10px;
  }
}

.labelNote {
  margin-left: 20px;
  background: #000000bd;
  color: white;
  padding: 4px;
  border-radius: 3px;
  font-size: 12px;
}

.CategoryContainer {
  display: flex;
  gap: 3%;
  align-items: baseline;
  .dropDownDiv {
    padding-top: 2px;
    width: 67%;
    .dropDown {
      padding: 3px;
      width: 100%;
    }
  }
  .RejectionDiv {
    width: 24%;
    background-color: #000000cf;
    color: white;
    padding: 6px 8px 8px 8px;
    height: 33px;
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
  }
}
.approversContainer {
  .stageSection {
    margin: 10px 10px 10px 0px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    h3 {
      color: black;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      padding-bottom: 8px;
    }

    .approvalMessage {
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 10px;
      display: inline-block;

      &.onlyOne {
        background-color: lightblue;
        color: #00008b91;
      }

      &.everyone {
        background-color: var(--liteGreen);
        color: var(--green);
      }
    }

    .approversList {
      display: flex;
      gap: 10px;
    }

    .approversChip {
      display: flex;
      align-items: center;
      gap: 5px;
      border: 1px solid var(--green);
      border-radius: 50px;
      padding: 3px 6px;
      font-size: 12px;
      width: 25%;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: rgba(22, 136, 33, 0.1);
        transform: scale(1.05);
      }
    }
  }
}
.FlowSideBarButtons {
  margin-top: 16px;
  display: flex;
  gap: 3%;
  justify-content: space-between;
}

//Cutom Approver Styles:
.stageHeader {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}
.topSection {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
  .nameDiv {
    width: 40%;
  }
  .rejectDiv {
    width: 40%;
  }
}
.stage {
  margin-top: 20px;
  display: flex;
  gap: 1%;
  align-items: center;

  .deleteDiv {
    padding-top: 37px;
    color: red;
    cursor: pointer;
  }
}

.buttonsDiv {
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}
.addStageButton {
  margin: 20px 0px 20px 0px;
}

.categoryConfigFields {
  display: flex;
  width: 100%;
  gap: 3%;
  height: 380px;
  padding: 0px 20px 0px 20px;
  .notApproverSection {
    width: 100%;
  }
  .categoryConfigChild {
    width: 39%;
    .inputDiv {
      height: 360px !important;
      overflow: auto;
      padding: 0px 10px 0px 0px;
      .inputChildDiv {
        width: 100%;
        padding-bottom: 14px;
        input {
          width: 100%;
        }
      }
    }
  }
  .radioContainerChild {
    margin-top: 40px;
    width: 58%;
    .ExistingCustomApproverContainer {
      height: 320px;
      overflow: auto;
    }
    .radioContainer {
      display: flex;
      gap: 3%;
      padding-bottom: 6px;
      .radioDiv {
        display: flex;
        .radioDivLabel {
          padding: 0 50px 0 10px;
          font-size: 14px;
          color: black;
          font-weight: 400;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
