//Common Style Imports:
@import "../../../../../External/commonStyles.module.scss";

.categorySideBarHeading {
  @include sideBarHeader;
}

.label {
  @include label;
  padding-bottom: 8px;
}
.approverSignatureDetailContainer {
  width: 100%;
  display: flex;
}
.inputContainer {
  width: 100%;
  .input {
    width: 46%;
    padding: 10px;
  }
}

.labelNote {
  width: 252px;
  padding-top: 4px;
  small {
    background: #000000bd;
    color: white;
    padding: 4px;
    border-radius: 3px;
    font-size: 12px;
  }
}

.CategoryContainer {
  display: flex;
  gap: 14px;
  align-items: baseline;
  .dropDownDiv {
    padding-top: 2px;
    width: 16%;
    .dropDown {
      padding: 3px;
      width: 100%;
    }
  }
  .RejectionDiv {
    min-width: 12%;
    background-color: var(--color-secondary);
    color: var(--white);
    padding: 6px 14px 8px 14px;
    height: 33px;
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    display: flex;
    align-items: center;
  }
}
.approversContainer {
  margin-top: 14px;
  .stageSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      color: black;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      padding-bottom: 8px;
    }

    .approvalMessage {
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 12px;
      margin-bottom: 10px;
      display: inline-block;
      background-color: var(--color-secondary);
      color: var(--white);
    }

    .approversList {
      display: flex;
      gap: 50px;
    }

    .approversChip {
      display: flex;
      align-items: center;
      gap: 5px;
      border: 1px solid var(--color-primary);
      border-radius: 50px;
      padding: 3px 6px;
      font-size: 12px;
      width: 25%;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: rgba(22, 136, 33, 0.1);
        transform: scale(1.05);
      }
    }
  }
}
.FlowSideBarButtons {
  margin-top: 16px;
  display: flex;
  gap: 3%;
  justify-content: space-between;
}

//Cutom Approver Styles:
.stageHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  padding-bottom: 12px;
}
.categoryConfigFieldsDynamicSectionsHeight {
  height: 550px !important;
}
.categoryConfigFields {
  height: 504px;
  overflow: auto;
  padding: 0px 12px 0px 12px;
  .notApproverSection {
    width: 100%;
  }
  .categoryConfigChild {
    .inputDiv {
      display: flex;
      width: 100%;
      gap: 14px;
      .inputChildDiv {
        width: 16%;
        padding-bottom: 14px;
        input {
          width: 100%;
        }
      }
    }
  }
  .radioContainerChild {
    .ExistingCustomApproverContainer {
      padding-right: 0px;
    }
    .radioContainer {
      display: flex;
      gap: 3%;
      padding-bottom: 6px;
      .radioDiv {
        display: flex;
        .radioDivLabel {
          padding: 0 50px 0 10px;
          font-size: 14px;
          color: black;
          font-weight: 400;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}

.mainApprovalContainer {
  box-sizing: border-box;
  padding: 10px 20px;
  height: 440px;
  overflow: auto;
}
.approvalConfigContainer {
  padding: 10px 0px 0px 0px;
  width: 100%;
  gap: 15px;
  .approvalSubContainer {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    .approvalStagesContainer {
      width: 38%;
    }
    .stageConfigContainer {
      width: 60%;
      height: fit-content;
      border: 1px solid #eee;
      border-radius: 6px;
      .stageFormContainer {
        width: 100%;
        border-radius: 6px;
        padding: 10px 15px 15px 15px;
        .stageConfigHeader {
          @include label;
          font-weight: 500;
          font-size: 14px !important;
          color: var(--color-primary) !important;
        }
        .deleteStageButton {
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
      }
    }
  }
}
.topSection {
  display: flex;
  gap: 2%;
  width: 100%;
  align-items: center;
  .nameDiv {
    width: 38%;
  }
  .rejectDiv {
    width: 60%;
  }
}
.stage {
  margin-top: 20px;
  display: flex;
  gap: 1%;
  align-items: center;

  .deleteDiv {
    padding-top: 37px;
    color: red;
    cursor: pointer;
  }
}
.buttonsDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}
.addStageButton {
  width: 100%;
  margin-top: 32px;
}
.accordionHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  .nameRejectionContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.stageHeaderWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .stageLeftHeader {
    display: flex;
    align-items: center;
  }
  .stageRightHeader {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
  }
}
.stageForm {
  display: flex;
  width: 100%;
  gap: 20px;
}
